$dark:#181818;//nero no hover
$primary:#0F0F0F; //nero hover
$secondary:#1FDF64; //button play 
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'partials/search';
@import 'partials/home';
@import 'partials/generals';