#arrow-back,#arrow-forward,#nav-bar-bell,#nav-bar-user,#nav-bar-users{
background-color: $black;
border: 0px;
font-size: 15px;
border-radius: 100%;
width: 35px;
height: 35px;
}
.boxAttivitaAmici{
    height:77vh
}
#search-bar{
    color: white;
    background-color:#232323;
    border: 0px;
    border-radius: 100px;
    
}
#search-bar::placeholder{
    color: grey;
    
}
#premium-button{
    font-weight:600;
    padding: 2px 10px;
    background-color: white;
    border-radius: 100px;
}
#nav-bar-bell,#nav-bar-user,#nav-bar-users,#premium-button{
    &:hover{
        transform: scale(1.1);
    }
}

